.ProductPage {
  padding: 1rem;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ProductPage.fade-in {
  transform: translateY(0);
  opacity: 1;
}
.ProductPage .header {
  font-size: 2rem;
  color: lavenderblush;
  font-weight: 500;
}
.ProductPage .nav {
  display: flex;
  align-items: center;
}
.ProductPage .nav div {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}
.ProductPage .nav div label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  transition: 0.3s ease;
  pointer-events: none;
  font-size: 1.5rem;
}
.ProductPage .nav div input {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 1.5em;
  border: none;
  outline: none;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.125);
  padding: 1rem;
}
.ProductPage .nav div input:focus + label {
  top: 0;
  font-size: 1rem;
  color: #fff;
  padding: 0 5px;
  font-size: 1rem;
}
.ProductPage .center .img-container {
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem;
  margin-bottom: 2rem;
}
.ProductPage .center .img-container .boxes {
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 1em;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}
.ProductPage .center .img-container .boxes .image-box {
  width: 250px;
  height: 200px;
  border-radius: 1em;
}
.ProductPage .center .img-container .boxes :nth-child(1) {
  height: 250px;
  transform: rotateY(-15deg);
  background-color: yellow;
}
.ProductPage .center .img-container .boxes :nth-child(2) {
  height: 270px;
  transform: rotateY(-15deg);
  background-color: green;
}
.ProductPage .center .img-container .boxes :nth-child(3) {
  height: 300px;
  background-color: blue;
}
.ProductPage .center .img-container .boxes :nth-child(4) {
  height: 270px;
  transform: rotateY(15deg);
  background-color: gray;
}
.ProductPage .center .img-container .boxes :nth-child(5) {
  height: 250px;
  transform: rotateY(20deg);
  background-color: orange;
}
.ProductPage .center .thumbnail-container {
  width: 100%;
  height: 40rem;
  position: relative;
}
.ProductPage .center .thumbnail-container .main-image {
  width: 100%;
  height: 100%;
}
.ProductPage .center .thumbnail-container .main-image img {
  border-radius: 2em;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.ProductPage .center .thumbnail-container .info-container {
  z-index: 2;
  position: absolute;
  top: 18rem;
  left: 5rem;
}
.ProductPage .center .thumbnail-container .info-container h1 {
  font-size: 3rem;
  color: black;
  line-height: 6rem;
  white-space: nowrap;
}
.ProductPage .center .thumbnail-container .info-container p {
  color: black;
  font-size: 1.2rem;
  opacity: 0.8;
  margin-bottom: 20px;
  width: 70%;
}
.ProductPage .center .thumbnail-container .info-container .small-container {
  padding-left: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.ProductPage .center .thumbnail-container .info-container .small-container h2 {
  font-size: 1.5rem;
  opacity: 1;
  color: black;
}
.ProductPage .center .thumbnail-container .info-container .small-container button {
  cursor: pointer;
  padding: 0.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1em;
  font-size: 1.5rem;
}
.ProductPage .center .thumbnail-container .arrow {
  position: absolute;
  bottom: 10%;
  right: 5%;
}
.ProductPage .center .thumbnail-container .arrow .right {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  rotate: 180deg;
  cursor: pointer;
}
.ProductPage .center .thumbnail-container .arrow .left {
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}
.ProductPage .center h1 {
  color: lavenderblush;
}
.ProductPage .center span {
  font-family: "Comfortaa";
  color: skyblue;
  font-weight: 600;
}
.ProductPage .center h2 {
  font-weight: 500;
  color: white;
  opacity: 0.7;
}
.ProductPage .center p {
  width: 80%;
  opacity: 0.7;
}
.ProductPage .container {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.ProductPage .container .box {
  cursor: pointer;
  flex-shrink: 0;
  width: 22rem;
  height: 25rem;
  background-color: rgba(255, 255, 255, 0.396);
  border-radius: 1em;
  position: relative;
}
.ProductPage .container .box .delete {
  position: absolute;
  top: 0;
  right: 5%;
}
.ProductPage .container .box .delete h1 {
  display: inline;
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.6);
  color: crimson;
  padding: 0.1rem 1rem;
  border-radius: 0.2em;
  cursor: pointer;
}
.ProductPage .container .box .price {
  position: absolute;
  bottom: 32%;
  right: 6%;
}
.ProductPage .container .box .price h1 {
  cursor: alias;
  display: inline;
  border-radius: 0.5em;
  font-size: 2rem;
  color: white;
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.493);
  cursor: pointer;
  font-weight: 900;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.ProductPage .container .box .image {
  width: 100%;
  height: 70%;
}
.ProductPage .container .box .image img {
  margin: 0.4rem auto;
  width: 90%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
.ProductPage .container .box .info {
  width: 100%;
  height: 30%;
  padding-left: 0.5rem;
}
.ProductPage .container .box .info h1 {
  font-size: 1.3rem;
  color: lavenderblush;
  font-weight: 700;
}
.ProductPage .container .box .info span {
  opacity: 0.6;
  width: 90%;
  font-size: 0.9rem;
  display: inline-block;
  line-height: 1rem;
  margin-bottom: 0.5rem;
}
.ProductPage .container .box .info .btn {
  width: 100%;
  display: flex;
  gap: 1rem;
}
.ProductPage .container .box .info .btn button {
  font-weight: 500;
  font-family: "Comfortaa";
  border-radius: 0.5em;
  padding: 0.4rem;
  color: white;
  font-weight: 500;
  cursor: pointer;
}/*# sourceMappingURL=productPage.css.map */