.ProductPage {
    padding: 1rem;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    &.fade-in {
        transform: translateY(0);
        opacity: 1;
    }

    .header {
        font-size: 2rem;
        color: lavenderblush;
        font-weight: 500;
    }

    .nav {
        display: flex;
        align-items: center;

        div {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;

            label {
                position: absolute;
                top: 50%;
                left: 1rem;
                transform: translateY(-50%);
                transition: 0.3s ease;
                pointer-events: none;
                font-size: 1.5rem;
            }

            input {
                font-size: 1.2rem;
                font-weight: 500;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                border-radius: 1.5em;
                border: none;
                outline: none;
                width: 70%;
                background-color: rgba(255, 255, 255, 0.125);
                padding: 1rem;

            }

            input:focus+label {
                top: 0;
                font-size: 1rem;
                color: #fff;
                padding: 0 5px;
                font-size: 1rem;
            }
        }
    }

    .center {

        .img-container {
            height: fit-content;
            padding: 1rem;

            margin-bottom: 2rem;

            .boxes {
                height: fit-content;
                border-radius: 1em;
                display: flex;
                gap: .5rem;
                align-items: center;
                justify-content: center;
                perspective: 1000px;

                .image-box {
                    width: 250px;
                    height: 200px;
                    border-radius: 1em;
                }

                :nth-child(1) {
                    height: 250px;
                    transform: rotateY(-15deg);
                    background-color: yellow;
                }

                :nth-child(2) {
                    height: 270px;
                    transform: rotateY(-15deg);
                    background-color: green;
                }

                :nth-child(3) {
                    height: 300px;
                    background-color: blue;
                }

                :nth-child(4) {
                    height: 270px;
                    transform: rotateY(15deg);
                    background-color: gray;
                }

                :nth-child(5) {
                    height: 250px;
                    transform: rotateY(20deg);
                    background-color: orange;
                }

            }
        }


        .thumbnail-container{
            width: 100%;
            height: 40rem;
            position: relative;

            .main-image{
                width: 100%;
                height:100%;
                img{
                    border-radius: 2em;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .wrapper{
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.406);
                position: absolute;
                top: 0;
                border-radius: 2em;
            }
            .design{
                width: 100%;
                height: 60px;
                background-color: black;
                position: absolute;
                bottom: 0;
            }
            .info-container{
                z-index: 2;
                position: absolute;
                top: 18rem;
                left: 5rem;

                h1{
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 900;
                    border-radius: 1rem;
                    font-size: 3rem;
                    color: white;
                    line-height: 6rem;
                    white-space: nowrap;
                }

                p{
                    
                    color: white;
                    font-size: 1.2rem;
                    opacity: .6;
                    margin-bottom: 20px;
                    width: 70%;
                }

                .small-container{
                    padding-left: 2rem;
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    h2{
                        font-size: 1.5rem;
                        opacity: 1;
                    }
                    span{
                        display: inline-block;
                    }
                    button{
                        cursor: pointer;
                        padding: .5rem 2rem;
                        background-color: rgba(255, 255, 255, 0.50);
                        border-radius: 1em;
                        font-size: 1.5rem;
                    }
                }
            }
            .arrow{
                position: absolute;
                bottom: 10%;
                right: 5%;
                .right{
                    border-radius: 50%;
                    background-color: rgba(0, 0, 0, 0.5);
                    rotate: 180deg;
                    cursor: pointer;
                }
                .left{
                    border-radius: 50%;
                    cursor: pointer;
                    background-color: rgba(0, 0, 0, 0.5);
                }
                

            }
        }

        h1 {
            color: lavenderblush;
        }

        span {
            font-family: "Comfortaa";
            color: skyblue;
            font-weight: 600;

        }

        h2 {
            font-weight: 500;
            color: white;
            opacity: .7;
        }

        p {
            width: 80%;
            opacity: .7;
        }
    }

    .container {
        margin-top: 1rem;
        width: 100%;
        height: 100%;
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .box {
            cursor: pointer;
            flex-shrink: 0;
            width: 22rem;
            height: 25rem;
            background-color: rgba(255, 255, 255, 0.396);
            border-radius: 1em;
            position: relative;

            .delete {
                position: absolute;
                top: 0;
                right: 5%;

                h1 {
                    display: inline;
                    font-size: 2rem;
                    background-color: rgba(255, 255, 255, 0.6);
                    color: crimson;
                    padding: .1rem 1rem;
                    border-radius: .2em;
                    cursor: pointer;
                }
            }

            .price {
                position: absolute;
                bottom: 32%;
                right: 6%;

                h1 {
                    cursor: alias;
                    display: inline;
                    border-radius: .5em;
                    font-size: 2rem;
                    color: white;
                    padding: .5rem 1rem;
                    background-color: rgba(0, 0, 0, 0.493);
                    cursor: pointer;
                    font-weight: 900;
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                }
            }

            .image {
                width: 100%;
                height: 70%;

                img {
                    margin: .4rem auto;
                    width: 90%;
                    height: 100%;
                    object-fit: cover;
                    background-position: center;
                    border-top-left-radius: 1em;
                    border-top-right-radius: 1em;
                }
            }

            .info {
                width: 100%;
                height: 30%;
                padding-left: .5rem;

                h1 {
                    font-size: 1.3rem;
                    color: lavenderblush;
                    font-weight: 700;
                }

                span {
                    opacity: .6;
                    width: 90%;
                    font-size: .9rem;
                    display: inline-block;
                    line-height: 1rem;
                    margin-bottom: .5rem;
                }

                .btn {
                    width: 100%;
                    display: flex;
                    gap: 1rem;

                    button {
                        font-weight: 500;
                        font-family: "Comfortaa";
                        border-radius: .5em;
                        padding: .4rem;
                        color: white;
                        font-weight: 500;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}